*{
    margin:0;
    padding:0; 
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/banner.jpeg);
    background-position: centre;
    background-size: cover;
    position: relative;

}