*{
    margin : 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing : border-box;
 }
 .container{
    width:100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,50,0.8)50%,rgba(0,0,50,0.8)),url("/admin/admin_background.jpeg"); 
    opacity: 0.8;
    background-position: center;
    background-size: cover;
    position: relative;
 }
 .icon{
    width: 200px;                                       
    float : left;
    height: 70px;
 }
 
 .logo{
    padding: left 10px;
    float:left;
    padding-top: 10px;
 }
 .form-box{
    width: 70%;
    max-width:400px;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    background: #fff;
    padding: 50px,60px,70px; 
    text-align: center;
    border-radius: 10px;
    max-height: 500px;
 }
 .form-box h1{
    font-size: 30px;
    margin-bottom:60px;
    color: #3c00a0;
    position:relative;
    padding-top: 20px;
 }
  
 .form-box h1::after{
    content: '';
    width : 30px;
    height: 4px;
    border-radius: 3px;
    background: #3c00a0;
    position: absolute;
    bottom: -12px;
    left:50%;
    transform: translatex(-50%);
 }
 .input-field{
    background: #eaeaea;
    margin:15px ;
    border-radius: 3px;
    display:flex;
    align-items: center;
 
 }
 input {
    width:75%;
    background:transparent;
    border:none;
    outline: none;
    padding: 18px 15px;
   
 }
 
 .input-field i{
    margin-left: 15px;
    color: #999;
 }
 .btn-field{
    width:100%;
    display: flex;
    justify-content:space-between;
    padding-bottom: 10px;
    text-align: center;
   
 }
 .btn-field button{
    flex-basis: 48%;
    background:#3c00a0;
    color:#fff;
    height: 40px;
    border-radius: 20px;
    border:0;
    outline:0;
    cursor:pointer;
    transition:  1s;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
 }
 .btn-field button:hover{
    background: green;
    color:#fff;
 }